<div class="row agb">

    <h1>1. Allgemeines</h1>
    <p>Die nachfolgenden
    AGB
    gelten für sämtliche zwischen uns und dem Kunden abgeschlossenen
    Werklieferungsverträge über die Lieferung von Lamellenfestern und
    diesbezüglichem Zubehör. Es gelten ausschließlich unsere AGB.
    Abweichende AGB unserer Kunden gelten nicht, auch wenn wir ihnen nicht
    ausdrücklich widersprechen. Unsere AGB sind auch für alle zukünftigen
    Verträge anzuwenden, auch wenn wir nicht ausdrücklich auf die AGB Bezug
    nehmen. Wir weisen ausdrücklich darauf hin, dass derartige
    Werklieferverträge keine Bauleistungen darstellen und daher
    bauvertragliche Regelungen, wie beispielsweise Werkvertragsrecht oder
    VOB, keine Anwendung finden.
    </p>
    <h1>2. Vertragsschluss und Vertragsinhalt</h1>
    <p>a)
    Unsere Angebote sind freibleibend. Nach Bestellung des Kunden kommt der
    Vertrag durch unsere schriftliche Auftragsbestätigung zustande.
    Maßgebend für den Inhalt des Vertrages ist unsere schriftliche
    Auftragsbestätigung, sofern der Kunde nicht binnen drei Werktagen
    schriftlich, per Telefax oder E-Mail widerspricht. Dies gilt auch bei
    Abweichungen zwischen Bestellung und Auftragsbestätigungen.
    </p>
    <p>b)
    Muster, Abbildungen, Zeichnungen, Gewichts- und Maßangaben in Werbung
    und Angeboten sind unverbindlich.
    </p>
    <h1>3. Preise, Zahlungsbedingungen</h1>
    <p>a)
    Sämtliche Preise gelten zuzüglich Mehrwertsteuer in der jeweils
    gesetzlich geltenden Höhe. Ist der Kunde Verbraucher, so bleibt eine
    seit dem Zeitpunkt des Vertragsschlusses erfolgte Erhöhung der
    Mehrwertsteuer unberücksichtigt.
    </p>
    <p>b) Bei Verträgen,
    bei welchen die Lieferung später als sechs Wochen nach Vertragsschluss
    erfolgen soll, ist eine Preiserhöhung zulässig, wenn sie auf der
    Veränderung von preisbildenden Faktoren beruht, welche nach
    Vertragsschluss entstanden ist. Die Preiserhöhung muss ihrer Höhe nach
    durch die Veränderung der preisbildenden Faktoren gerechtfertigt sein
    und dem Kunden innerhalb angemessener Frist angezeigt werden. Soweit
    der Kunde nicht Kaufmann ist, gilt anstelle der sechswöchigen Frist
    eine Frist von vier Monaten. Hiervon unberührt bleiben Änderungen des
    Angebotspreises, die auf Abänderungen des Lieferumfanges o. Ä. auf
    Wunsch des Kunden nach unserer Auftragsbestätigung erfolgen.
    </p>
    <p>c)
    Die von uns benannten Preise beinhalten anteilig Verpackungs- und
    Frachtkosten (letztere inklusive Speditionsversicherung) und beziehen
    sich auf eine Lieferung. Teillieferungen sind nach Absprache möglich
    und werden gesondert behandelt. Weitere von der Auftragsbestätigung
    abweichende Sondervereinbarungen, wie beispielsweise Anlieferung nicht
    am Sitz des Kunden, sondern an einer Baustelle o. Ä., können nach
    Rücksprache getroffen werden. Hierbei werden die Lieferkonditionen neu
    verhandelt.
    </p>
    <p>d) Aufträge werden entsprechend der
    Brutto-Gesamtsumme von uns mit einer Forderungsausfallversicherung
    abgesichert. Bei derart versicherten Aufträgen sind unsere Rechnungen,
    soweit nicht anders vereinbart, binnen 30 Tagen ab Rechnungsstellung
    ohne Abzug zahlbar. Bei Bezahlung innerhalb von 10 Tagen ab
    Rechnungsstellung gewähren wir einen Skontoabzug von 2%. Bei nicht
    versicherten Aufträgen erfolgt Lieferung - soweit nichts Abweichendes
    vereinbart ist - nur gegen Vorkasse oder gegen Stellung einer
    Bankbürgschaft. Wir melden eingehende Bestellungen unverzüglich unserer
    Forderungsausfallversicherung und teilen unserem Kunden sodann
    unverzüglich mit, ob für den jeweiligen Auftrag Versicherungsschutz
    besteht oder nicht.
    </p>
    <p>e) Ein Zurückbehaltungsrecht
    gemäß der §§ 273, 320 BGB und § 369 HGB steht dem Kunden nicht zu; dies
    gilt nicht, soweit der Kunde nicht Kaufmann ist. Ein Recht zur
    Aufrechnung steht dem Kunden gegenüber unseren Ansprüchen nur dann zu,
    wenn der zur Aufrechnung gestellte Anspruch unbestritten oder
    rechtskräftig festgestellt ist.
    </p>
    <h1>4. Anlieferung</h1>
    <p>a) Die in der Auftragsbestätigung (Ziff. 2 a) genannten
    Liefertermine sind unverbindlich. Bei Lieferengpässen seitens des
    Glaslieferanten oder anderen Zulieferern kann es im Ausnahmefall zu
    Verzögerungen kommen. Fixtermine bedürfen daher einer ausdrücklichen
    entsprechenden Vereinbarung. Soweit wir zur Auftragsausführung
    Unterlagen des Kunden benötigen, kann sich dieser auf eine etwaige
    Nichteinhaltung der Lieferfrist oder des Lieferdatums nicht berufen,
    soweit er uns diese Unterlagen nicht so viele Tage vor Lieferdatum bzw.
    Ablauf der Lieferfrist zur Verfügung gestellt hat, wie sie dem Zeitraum
    der Lieferfrist bzw. dem Zeitraum zwischen unserer Auftragsbestätigung
    und dem vereinbarten Liefertermin liegend entsprechen. Im Falle einer
    Lieferverzögerung kann der Kunde vom Vertrag zurücktreten, sofern er
    uns zuvor eine mindestens dreiwöchige Nachfrist zur Lieferung gesetzt
    hat und diese Frist fruchtlos verstrichen ist. Werden wir an der
    Erfüllung unserer Verpflichtungen durch Ereignisse gehindert, die auch
    mit zumutbarer Sorgfalt nicht abgewendet werden konnten, wie z. B.
    Streik, Aussperrung, Bruch, Feuer, Wasserschäden und Fälle höherer
    Gewalt bei uns oder bei einem unserer Zulieferer, so verlängert sich
    die Lieferzeit um die Dauer der Behinderung zuzüglich einer
    angemessenen Anlaufzeit. Eine Haftung für Lieferverzögerungen ist
    ausgeschlossen, soweit diese auf einer verzögerten Materiallieferung
    durch Zulieferbetriebe beruht.
    </p>
    <p>b) Sobald die
    Liefergegenstände an unserem Werk versandfertig sind, übergeben wir
    diese dem Transportunternehmen, welches die Anlieferung besorgt. Die
    Auslieferung erfolgt in der Regel binnen 48 Stunden. Soweit der Kunde
    eine schnellere Auslieferung wünscht, ist hierfür eine ausdrückliche
    schriftliche Vereinbarung erforderlich. Die hierdurch entstehenden
    Frachtmehrkosten trägt der Kunde. Ist ein Fixtermin für die Anlieferung
    vereinbart (Ziff. 4 a), so übergeben wir die Ware so rechtzeitig an das
    Transportunternehmen, dass unter Berücksichtigung der üblichen
    Lieferzeit von 48 Stunden eine termingerechte Anlieferung erfolgt.
    Verzögerungen der Anlieferung, welche aus der Sphäre des
    Transportunternehmens herrühren, haben wir nicht zu vertreten.
    </p>
    <p>c) Bei Ankunft der Ware am Bestimmungsort ist der Kunde
    verpflichtet, das Transportmittel sofort zu entladen. Der Kunde hat
    dafür Sorge zu tragen, dass am Bestimmungsort alle für die Entladung
    des Transportmittels erforderlichen Gerätschaften (Stapler etc.)
    vorhanden sind und auch sonstige Umstände (beispielsweise Straßen- und
    Wegeverhältnisse o. Ä.) einer Entladung nicht entgegenstehen.
    Wartezeiten und daraus resultierende etwaige Standgeldansprüche des
    Transportunternehmens oder sonstige Mehrkosten gehen zu Lasten des
    Kunden.
    </p>
    <h1>5. Eigentumsvorbehalt</h1>
    <p>a)
    Bis zur vollständigen Bezahlung unserer Forderungen aus der
    Geschäftsverbindung mit dem Kunden bleiben die verkauften Waren unser
    Eigentum. Der Kunde ist befugt, über die gekaufte Ware im ordentlichen
    Geschäftsgang zu verfügen.
    </p>
    <p>b) Der
    Eigentumsvorbehalt erstreckt sich auch auf die durch Verarbeitung,
    Vermischung oder Verbindung unserer Ware entsprechenden Erzeugnisse zu
    deren vollem Wert, wobei wir als Hersteller gelten. Bleibt bei einer
    Verarbeitung, Verbindung oder Vermischung mit Waren Dritter deren
    Eigentumsrecht bestehen, so erwerben wir Miteigentum im Verhältnis der
    Rechnungswerte dieser verarbeiteten Waren. Soweit bei Verbindung unser
    Eigentum gemäß § 947 Abs. 2 BGB untergehen würde, ist der Kunde
    verpflichtet, eine entsprechende abweichende vertragliche Vereinbarung
    mit dem Eigentümer der Hauptsache herbeizuführen, wonach zu unseren
    Gunsten eine hinreichende dingliche Sicherung verbleibt.
    </p>
    <p>c)
    Die aus dem Weiterverkauf entstehenden Forderungen gegen Dritte tritt
    der Kunde schon jetzt insgesamt bzw. in Höhe unseres etwaigen
    Miteigentumsanteils (vgl. Ziff. 5.)
    </p>
    <p>d) zur
    Sicherung an uns ab. Er ist ermächtigt, diese bis zum Widerruf oder zur
    Einstellung seiner Zahlungen an uns für unsere Rechnung einzuziehen.
    Zur Abtretung dieser Forderungen ist der Kunde auch nicht zum Zwecke
    der Forderungseinziehung im Wege des Factorings befugt, es sei denn, es
    wird gleichzeitig die Verpflichtung des Factors begründet, die
    Gegenleistung in Höhe unseres Forderungsanteils so lange unmittelbar an
    uns zu bewirken, als noch Forderungen unsererseits gegen den Kunden
    bestehen.
    </p>
    <p>e) Zugriffe Dritter auf die uns
    gehörenden Waren und Forderungen sind uns vom Käufer unverzüglich mit
    eingeschriebenem Brief mitzuteilen.
    </p>
    <p>f) Die Ausübung
    des Eigentumsvorbehaltes bedeutet nicht den Rücktritt vom Vertrag.
    </p>
    <p>g) Die Waren und die an ihre Stelle getretenen Forderungen
    dürfen vor vollständiger Bezahlung unserer Forderungen weder an Dritte
    verpfändet noch zur Sicherung übereignet oder abgetreten werden.
    </p>
    <p>h) Übersteigt der Wert der Sicherheiten unsere Forderungen um
    mehr als 20%, so werden wir auf Verlangen des Kunden insoweit
    Sicherheiten nach unserer Wahl freigeben.
    </p>
    <p>i) Im
    Rahmen des Weiterkaufs der durch Eigentumsvorbehalt gesicherten Ware
    durch den Kunden auf Kredit an Dritte ist der Kunde verpflichtet,
    unsere Rechte aus dem vorbenannten Eigentumsvorbehalt durch angemessene
    Maßnahmen zu sichern. Auf unser Verlangen hin ist der Kunde
    verpflichtet, den Dritten sofort von der Abtretung zu unterrichten und
    den von uns erklärten Widerruf der Einziehungsermächtigung an diesen zu
    übermitteln sowie uns die zur Einziehung der abgetretenen Forderung
    erforderlichen Auskünfte und Unterlagen zukommen zu lassen. Unser
    Recht, die Offenlegung der Abtretung selbst gegenüber den Dritten zu
    bewirken, bleibt unberührt. Soweit der Kunde die ihm gegen den Dritten
    zustehenden Forderungen aus der Weiterveräußerung der Vorbehaltsware in
    ein mit diesem Dritten bestehendes Kontokorrentverhältnis aufnimmt, so
    tritt er hiermit die Kontokorrentforderung gegen den Dritten in voller
    Höhe an uns ab. Nach erfolgter Saldierung tritt anstelle der
    Kontokorrentforderung der anerkannte Saldo, der bis zu der öhe des
    Betrages als uns abgetreten gilt, die die ursprüngliche
    Kontokorrentforderung ausmachte. Der Kunde ist verpflichtet, uns über
    sämtliche Umstände unverzüglich zu informieren, welche die durch den
    vorliegenden Eigentumsvorbehalt bezweckte Sicherung unserer Forderungen
    zu gefährden in der Lage sind.
    </p>
    <h1>6. Rücktritt</h1>
    <p>Wir sind berechtigt, vom Vertrag zurückzutreten, sofern ein
    wichtiger Grund vorliegt. Als wichtiger Grund gilt neben dem
    Zahlungsverzug des Kunden, dessen Vermögensverfall,
    Geschäftseinstellung, Beantragung des Insolvenz- oder
    Vergleichsverfahrens auch der Erhalt ungünstiger Auskünfte über den
    Kunden, wobei zu Letzterem auch die Ablehnung des Versicherungsschutzes
    durch unsereForderungsausfallversicherung (gleich aus welchem Grund)
    zählt. Die gesetzlichen Rücktrittsvorschriften bleiben unberührt.
    </p>
    <h1>7. Gefahrübergang</h1>
    <p>a) Mit
    Übergabe der Ware durch uns an das Transportunternehmen geht die Gefahr
    auf den Kunden über (§ 447 BGB). Wir weisen jedoch noch einmal
    ausdrücklich darauf hin, dass durch uns für jeden Transport eine
    Transportversicherung (Kaskoversicherung) abgeschlossen wird.
    </p>
    <p>b) Unterbleibt die Übergabe der Ware an das
    Transportunternehmen aus Gründen aus der Sphäre des Kunden,
    beispielsweise weil dieser Ware erst zu einem späteren Zeitpunkt
    benötigt oder ausdrücklich erst eine spätere Anlieferung wünscht, so
    geht die Gefahr bereits mit Eingang der entsprechenden Mitteilung des
    Kunden bei uns auf den Kunden über, frühesten jedoch mit
    Versandbereitschaft der Ware. Ist eine persönliche Abholung durch den
    Kunden oder durch von ihm beauftragte Personen vereinbart, so teilen
    wir dem Kunden die Abholbereitschaft der Ware mit. In diesem Fall geht
    die Gefahr mit Ablauf des Tages auf den Kunden über, an welchem diesem
    die Abholbereitschaft der Ware mitgeteilt wurde.
    </p>
    <h1>8.
    Gewährleistung</h1>
    <p>a) Der Kunde hat die gelieferte
    Ware unverzüglich nach der Ablieferung zu untersuchen und etwaige
    Mängel schriftlich bei uns anzuzeigen. Bei Lieferung mit
    Glasbestandteilen sind etwaige Glasbruchschäden durch den Kunden bei
    Entgegennahme unverzüglich auf dem Lieferschein zu vermerken, sämtliche
    Glasbestandteile sind bei Ablieferung durch den Kunden (ggf. durch
    Öffnen der Verpackung) auf ihre Unversehrtheit zu überprüfen. Im Falle
    berechtigter Mängelrüge sind wir nach unserer Wahl berechtigt, die
    mangelhafte Ware gegen Lieferung mangelfreier Ware zu ersetzen oder
    nachzubessern.
    </p>
    <p>b) Erfolgt durch uns binnen einer
    ordnungsgemäß gesetzten Frist keine Nachbesserung bzw. Nachlieferung
    oder schlägt nach jeweils ordnungsgemäßer Fristsetzung der erste und
    zweite Nachbesserungs- bzw. Nachlieferungsversuch fehl, so hat der
    Kunde das Recht, den vereinbarten Preis nach den gesetzlichen
    Bestimmungen zu mindern; erscheint diese Verweisung auf das
    Minderungsrecht als unbillig, so steht dem Kunden ein Rücktrittsrecht
    zu.
    </p>
    <p> c) Erbringen wir Leistungen bei der Mängelsuche, -prüfung
    oder -beseitigung, ohne dass der Vertragsgegenstand mangelhaft gewesen
    ist, so ist der Kunde zur Erstattung der durch die vorgenannten
    Maßnahmen entstandenen Kosten verpflichtet.
    </p>
    <p>d)
    Durch Verhandlungen über Mängelrügen verzichten wir nicht auf den
    späteren Einwand, dass die Rüge nicht rechtzeitig oder nicht
    ausreichend gewesen sei. Von uns mit der Mängelprüfung beauftragte
    Personen sind nicht zur Anerkennung von Mängeln oder zur Begründung von
    Verbindlichkeiten mit Wirkung gegen uns berechtigt.
    </p>
    <p>e)
    Schadensersatzansprüche wegen des Mangels sind ausgeschlossen, soweit
    sie nicht auf grobem Verschulden unsererseits oder eines unserer
    gesetzlichen Vertreter oder Erfüllungsgehilfen beruhen bzw. sich auf
    die Verletzung von Leben, Körper und Gesundheit durch uns oder einen
    unserer gesetzlichen Vertreter oder Erfüllungsgehilfen beziehen.
    Unberührt bleiben zudem gesetzliche Ansprüche des Kunden nach dem
    Produkthaftungsgesetz.
    </p>
    <p>f) Soweit
    Nacherfüllungsarbeiten am Liefergegenstand vorzunehmen sind, muss
    dieser für uns ohne Weiteres zugänglich sein. Hierfür erforderliche
    Hilfsmittel, wie beispielsweise Gerüste oder Hubsteiger, sind durch den
    Kunden auf eigene Kosten zu stellen. Soweit nach dem erfolgten Einbau
    weitere Verbauungsmaßnahmen durch den Kunden erfolgt sind, sind diese
    auf dessen Kosten für die Zeit der Nacherfüllungsarbeiten zu entfernen.
    Soweit durch den Kunden die vorgenannten Voraussetzungen für die
    Nacherfüllung nicht geschaffen werden, sind wir zur Verweigerung der
    Nacherfüllung berechtigt und die Rechte des Kunden beschränken sich auf
    eine Minderung. Die Regelungen der §§ 275, 439 Abs. 3 BGB bleiben
    unberührt.
    </p>
    <h1>9. Haftung</h1>
    <p>a)
    Soweit Schadensersatzansprüche nicht nach Ziff. 8. e) ausgeschlossen
    sind, gilt folgendes:
    </p>
    <p>ab) Für
    Schadensersatzansprüche, gleich aus welchem Haftungsgrund, haften wir
    nicht für einfache Fahrlässigkeit, soweit sich die Ansprüche nicht auf
    die Verletzung von Leben, Körper und Gesundheit beziehen. Zudem bleiben
    Ansprüche nach dem Produkthaftungsgesetz unberührt.
    </p>
    <p>ac)
    Schadensersatzansprüche sind in jedem Fall auf den vertragstypischen,
    vernünftigerweise vorhersehbaren Schaden beschränkt.
    </p>
    <p>ad)
    Bei Vermögensschäden erfolgt ein Ersatz bei Vorliegen der
    Haftungsvoraussetzungen nur für den Teil des Vermögensschadens, welcher
    einen Betrag von 500,00 EUR übersteigt.
    </p>
    <p>b) Der
    Kunde haftet für die Lesbarkeit und Richtigkeit der an uns übergebenen
    Pläne und Maßangaben.
    </p>
    <h1>10. Verjährung</h1>
    <p>Die
    Verjährungsfrist für Ansprüche des Kunden aus diesem Vertrag beträgt
    ein Jahr ab Ablieferung der Ware, soweit nicht § 438 Abs. 1 Nr. 2 b BGB
    Anwendung findet.
    </p>
    <h1>11. Sonstiges</h1>
    <p>a)
    Erfüllungsort für beide Parteien ist der Sitz der Firma Fieger
    Lamellenfenster GmbH. Als Erfüllungsort für ein etwaiges
    Nachbesserungsverlangen des Kunden gilt der Sitz des Kunden oder der
    Ort, wo sich der Vertragsgegenstand derzeit befindet, je nachdem,
    welcher Ort näher zu unserem Sitz belegen ist.
    </p>
    <p>b)
    Für beide Parteien ist ausschließlicher Gerichtsstand für alle aus
    diesem Vertrag resultierenden Streitigkeiten Fürth im Odenwald; dies
    gilt nicht, soweit der Kunde kein Kaufmann ist.
    </p>
    <p>c)
    Die Vertragssprache ist deutsch. Bei Schriftstücken ist die deutsche
    Fassung allein maßgeblich.Es gilt das Recht der Bundesrepublik
    Deutschland. Die Geltung des einheitlichen Kaufgesetzes (UN-Kaufrecht)
    ist ausgeschlossen.
    </p>
    <p>Mai 2005<br> Fieger
    Lamellenfenster GmbH
    </p>
</div>