<div class="row">
	<div class="download_section">
		<div class="select_filter">
			<select data-filter-group="type">
				<option data-filter="">Alle Fenstertypen</option>
				<option data-filter=".FLW_40">FLW40</option>
				<option data-filter=".FLW40V">FLW40V</option>
				<option data-filter=".FLW2428">FLW24+28</option>
				<option data-filter=".FLW28V">FLW28V</option>
				<option data-filter=".FGL">FGL</option>
				<option data-filter=".FLL">FLL</option>
			</select>

			<select data-filter-group="category">
				<option data-filter="">Alle Kategorien</option>
				<option data-filter=".prospekte">Prospekte</option>
				<option data-filter=".zeichnungen">Zeichnungen</option>
				<option data-filter=".bilder">Bilder</option>
				<option data-filter=".antriebe">Antriebe</option>
				<option data-filter=".prüfberichte">Prüfberichte</option>
				<option data-filter=".ausschreibungstexte">Ausschreibungstexte</option>
				<option data-filter=".zubehoer">Zubehör</option>
			</select>

			<select data-filter-group="data_type">
				<option data-filter="">Alle Dateitypen</option>
				<option data-filter=".pdf">PDF</option>
				<option data-filter=".dwg">DWG</option>
				<option data-filter=".DXF">DXF</option>
				<option data-filter=".3D">3D</option>
			</select>

			<button class="resetfilter">Zurücksetzen</button>

		</div>
		<div class="main">
			<div class="element-item icon-pencil2 FLW_40 zeichnungen">
				<p>FLW Querstrebe geöffnet.pdf</p>
				<p>Aktualisiert: 15.10.2013</p>
			</div>

			<div class="element-item icon-camera FLW_40 bilder">
				<p>Ecke FLW40 17 Dämmung</p>
				<p>Aktualisiert: 10.11.2013</p>
			</div>

			<div class="element-item icon-cogs FLW_40 antriebe">
				<p>D+H_Motor_LDF_100_60.pdf</p>
				<p>Aktualisiert: 10.11.2013</p>
			</div>

			<div class="element-item icon-file FLW_40 prüfberichte">
				<p>PrüfberichtLuftdurchldlässigkeit</p>
				<p>Aktualisiert: 10.11.2013</p>
			</div>

			<div class="element-item icon-newspaper FLW_40 ausschreibungstexte">
				<p>Ausschreibungstexte FLW40</p>
				<p>Aktualisiert: 10.11.2013</p>
			</div>

			<div class="element-item icon-menu2 FLW_40 zubehoer">
				<p>Pulverliste</p>
				<p>Aktualisiert: 10.11.2013</p>
			</div>
		</div>

	</div>
</div>