<div class="row impressum">

    <p><span class="bold">	Fieger Lamellenfenster GmbH</span></p>
    <p>Auf der Aue 10<br>
    D - 69488 Birkenau</p>
    <p>Telefon:+49-6201-84434-0<br>
    Telefax:+49-6201-84434-19</p>
    <p>E-Mail: <a href="mailto:info@fieger-lamellenfenster.de">info@fieger-lamellenfenster.de</a><br>
    Internet: <a href="http://www.fieger-lamellenfenster.de">www.fieger-lamellenfenster.de</a></p>
    <p>Gerichtsstand: 64658 Fürth/Odw. <br>
    Handelsregister: Fürth/Odw.<br>
    HRB: 41154</p>
    <p>UStId-Nr.: DE 206445104</p>
    <p>Geschäfstführer: Thomas Fieger</p>
    <p>Mit Urteil vom 12. Mai 1998 hat das Landgericht Hamburg entschieden, dass man durch die Anbringung eines Links die Inhalte der gelinkten Seite ggf. mit zu verantworten hat. Dies kann - so das LG - nur dadurch verhindert werden, dass man sich ausdrücklich von diesen Inhalten distanziert.Sie finden auf unseren Seiten Links zu anderen Seiten im Internet.</p>

    <p>Für all diese Links gilt: Wir möchten ausdrücklich betonen, dass wir keinerlei Einfluss auf die Gestaltung und die Inhalte der gelinkten Seiten haben. Deshalb distanzieren wir uns hiermit ausdrücklich von allen Inhalten aller gelinkten Seiten auf unserer Homepage. Diese Erklärung gilt für alle auf unserer Homepage angebrachten Links und für alle Inhalte der Seiten, zu denen Banner führen.</p>

    <p>Selbes gilt natürlich für Einträge die von Besuchern dieser Seite vorgenommen werden können. Die Meinung der Besucher spiegelt natürlich nicht unbedingt unsere eigene Meinung wieder. Wir distanzieren uns daher ausdrücklich von Besuchern selbst erstellten Texten! Sollte Ihnen ein "toter", oder gesetzeswidriger Link auffallen, so teilen Sie uns diesen Link bitte per E-Mail mit.</p>
</div>