<ul class="bxslider">
    <li><img src="img/slider/2.jpg" /></li>
    <li><img src="img/slider/3.jpg" /></li>
    <li><img src="img/slider/4.jpg" /></li>
    <li><img src="img/slider/5.jpg" /></li>
    <li><img src="img/slider/6.jpg" /></li>
    <li><img src="img/slider/7.jpg" /></li>
    <li><img src="img/slider/8.jpg" /></li>
    <li><img src="img/slider/1.jpg" /></li>
    <li><img src="img/slider/9.jpg" /></li>
</ul>
<div class="row system_choose">
    <div class="large-12 columns">
            <div data-type="waerme" class="large-4 small-12 columns selectorClass">
                <img src="img/systems5.jpg" />
                <p class="bigger mb10">Wärmegedämmte Systeme</a>
                <p class="small">Unter dem Namen FLW und FLW SmoTec zertifizierte Lamellenfenster mit Isolieglas und 3 Fachisolierglas zur  Lüftung und Entrauchung (NRWG).</p>
            </div>
            <div data-type="unged" class="large-4 small-12 columns selectorClass">
                <img src="img/systems4.jpg" />
                <p class="bigger mb10">Ungedämmte Systeme</a>
                <p class="small">Transparenz, Optik und Funktion Glaslamellen für die Bereiche 2.Hautfassaden Trennwände und Freisitze.</p>
            </div>
            <div data-type="spezaus" class="large-4 small-12 columns selectorClass">
                <img src="img/systems3.jpg" />
                <p class="bigger mb10">Spezialausführungen</a>
                <p class="small">Aufzugsschachtentrauchung. Industriefenster, Elemente für RDA - und Überdruckanlagen. Starre Lamellen.</p>
            </div>

            <div class="info_l_section large-12 small-12 columns">
                <div class="headings_l large-3 small-12 columns">
                    <div data-type="waerme">
                        <a href="#">FLW40</a>
                        <a href="#">FLW40V</a>
                        <a href="#">FLW24+28</a>
                        <a href="#">FLW28V</a>
                        <a href="#">FLL</a>
                    </div>

                    <div data-type="unged"><a href="#">FGL</a></div>

                    <div data-type="spezaus">
                        <a href="#">24-Stunden-Bibliothek Uni Karlsruhe</a>
                        <a href="#">Civil Justice Centre Manchester</a>
                        <a href="#">Knauf Museum</a>
                        <a href="#">Eastgate Berlin</a>
                    </div>

                </div>
                <div class="description large-9 small-12 columns">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididu. Beschreibung System 1</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididu. Beschreibung System 2</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididu. Beschreibung System 3</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididu. Beschreibung System 4</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididu. Beschreibung System 5</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididu. Beschreibung System 6</p>
                </div>

                <div class="product_info large-9 small-12 columns" window="FLW40">
                    <p>Das Fieger Lamellenfenster TYP FLW ist unser neuestes Produkt und setzt völlig neue Maßstäbe im Lüftungsbereich. Aufbauend auf unser System FLW bietet ihnen dieser Fenstertyp weitere innovative Produkteigenschaften. So wurde bei der Entwicklung besonderer Wert auf die Wärmedämmeigenschaften und die Stabilität des Lamellenfensters gelegt und das zu einem günstigen Preis.</p>


                    <p>Einen besonderen Einsatzzweck wird dieses Produkt im Bereich der Schulen, Universitäten und in öffentlichen Gebäuden finden um dort Ihre gewünschten Anforderungen an die Wärmedämmung, die Sicherheit der Bauteile und den Komfort durch Automatisierung umzusetzen. Gerade in Bildungsstätten wird das Lamellenfenster Typ FLW 40 besondere Lüftungskonzeptionen umsetzen kann, um zu hohe Co² Belastung zu vermeiden. Planen Sie die Elemente bis zu einer Breite von 2500 mm mit variablen Klappenhöhen zwischen 250 und 500 mm Höhe. Bei größeren Breiten werden die Elemente gekoppelt.</p>

                    <p>Ab einer Elementhöhe von 3 m wird ein zusätzlicher Antrieb benötigt. Hohe Elemente können gekoppelt werden, somit ist die Elementhöhe im Prinzip unbeschränkt. Die Eigenschaften (Lüftungsquerschnitte, Wärmedämmwerte usw.) können über unsere Fensterberechnung ermittelt werden.</p>

                    <p>Außerdem stehen Ihnen eine Vielzahl von Antriebs-, Verglasungs- und Einbauvarianten zur Verfügung.</p>
                </div>

            </div>


    </div>
</div>

<div class="about">
    <h1 >Über Fieger Lamellenfenster</h1>
    <div class="_bg_"></div>
    <div class="row">
        <div class="large-6 small-12 columns text">
            <h1>Wir über uns</h1>
            <p>Die Firma Fieger gehört seit der Gründung im Jahre 2000 zu einer der innovativsten und erfolgreichsten Hersteller von Lamellenfenstern in Europa. In unserem Werk in Birkenau im Odenwald, entwickeln und  fertigten wir mit 20 Mitarbeitern moderne Lamellenfenster, die in viele Ländern versendet und montiert werden. Dabei ist unsere Motivation, dass wir besondere Elemente für besondere Gebäude liefern und wir immer auf das Neue mit Anforderungen an die Funktionalität und an der Ausführung von unseren Kunden und Planern konfrontiert werden. Und unsere Befriedigung ist besonders groß, wenn wir die Aufträge zur Zufriedenheit unserer Kunden abgewickelt haben und wir unsere Liste der Referenzprojekte neu aktualisieren können. Unser vergangen Arbeit hat dazu geführt, dass sich der Name Fieger in der Branche zu einem Markennamen entwickelt hat, der für eine hohe Qualität in der Bearbeitung der Aufträge und der Ausführung der Lamellenfenster steht.</p>

            <h1>Das Lamellenfenster</h1>
            <p>Kurz erläutert, handelt es sich bei Lamellenfenstern um einzelne meist verglaste Rahmen, die sich mit einer besonderen patentierten Zahnstangenmechanik synchron um die eigene Achse drehen. Dadurch kann einfach und in kurzer Zeit die gesamte Fensterfläche als natürliche Lüftung freigegeben werden. Die Bewegung erfolgt mechanisch z.B. mit Handhebeln  oder automatisiert z.B. mit Elektroantrieben. Dies ermöglicht weitere wichtige Einsatzmöglichkeiten in modernen Gebäuden. Darüber hinaus unterscheidet sich das Lamellenfenster auch optisch signifikant gegenüber herkömmlichen Fenstersystemen.</p>
        </div>
        <div class="large-6 small-12 columns text">
            <h1>Unsere Stärken</h1>
            
            <p>
            <strong>Umfassende Beratung:</strong><br>
             Das hat bei uns eine sehr großen Stellenwert, den nur eine gute Vorbereitung ermöglicht es uns das passgenaue Lamellenfenster zu liefern, welches z.B. problemlos in einem Projekt in Australien eingesetzt werden kann. Eine Besonderheit bei uns ist, dass der Kunde von der Ausarbeitung der Angebote bis zur Auftragsbearbeitung  nur einen Ansprechpartner hat, der Sie bei Ihrem Projekt begleitet.</p>


            <p>
            <strong>Liefertreue: </strong><br>
            In der Regel benötigen wir von der technischen Klärung bis zur Auslieferung unserer Lamellenfenster 5-6 Wochen. Das ist der Zeitraum auf den sich unser Kunde verlassen soll und den wir als Zielsetzung mit unserem Vertriebsmitarbeitern, unserem Einkauf und unserer Produktion vereinbart haben.</p>

            <p>
            <strong>Flexibilität: </strong><br>
            Die Kombinationsmöglichkeiten sind vielfältig. Wir kümmern uns um die passende Farbe und die passende Verglasung, die Sie für Ihr Projekt vorgesehen haben. Unsere Systeme decken fas alle Größen ab die Sie für Ihren Einsatzzweck benötigen und was die Statik zulässt.  Und wenn wir etwas nicht so ausführen können wie Sie sich das vorstellen, unterbreiten wir Ihnen Alternativvorschläge dazu.
            Mut für Neues:  Die Neuentwicklung von Systemen mit Lamellen ist unsere Leidenschaft. Die Einsatzmöglichkeiten sind noch lange nicht ausgeschöpft. Fragen Sie uns, wenn Sie für Ihr Projekt was Neues vorstellen. Wir prüfen Ihre Idee auf Machbarkeit und schätzen die Kosten. Das sind nur die ersten Schritte zur Umsetzung, die bereits zu vielen Sonderelementen geführt haben. </p>

            <p>
            <strong>Wir lieben die Herausforderung: </strong><br>
            Jeder Auftrag ist uns wichtig. Deswegen geben wir uns selten geschlagen, sondern suchen die Lösungen um den Auftrag für Sie durchzuführen. Voraussetzung dafür ist natürlich, dass man darüber spricht.</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/core/jquery.bxslider.min.js"></script>
<script type="text/javascript">
    var slider;
    var random = Math.floor(Math.random() * ($('.bxslider li').size() - 1 + 1));

    $(window).resize(function(event) {
        slider.reloadSlider();
    });
    
    slider = $('.bxslider').bxSlider({
        mode: 'fade',
        auto: true,
        pause: 6000,
        startSlide: random,
        captions: true
    });

</script>