<div class="row">
    <div class="region_choose">
        <ul>
            <li>Australien</li>
            <li class="active">Deutschland</li>
            <li>Großbritanien</li>
            <li>Österreich</li>
            <li>Frankreich</li>
            <li>Portugal</li>
            <li>Schweiz</li>
        </ul>
    </div>
    <div id="vmap" style="float:left;height: 400px;width: 100%;margin:50px 0px 50px 0;"></div>
    <div role="content" class="active" land="Deutschland">
        <div class="large-12 columns">
            <div id="contact_box">
                <img src="img/crew/thomasFieger.jpg">
                <p class="bigger">Thomas Fieger</p>
                <p>Geschäftsführer</p>
                <p>Entwicklung, Produktmanagement und Sonderanfertigungen</p>
                <p>Telefon: +49-6201-84434-0</p>
                <p>info@fieger-lamellenfenster.de</p>
            </div>
            <div id="contact_box">
                <img src="img/crew/michaelFieger.jpg">
                <p class="bigger">Michael Fieger</p>
                <p>Verkaufsleiter In- und Ausland, Techn. Kaufm. Kundenservice</p>
                <p>Telefon: +49-6201-84434-10</p>
                <p>michael@fieger-lamellenfenster.de</p>
            </div>
            <div id="contact_box">
                <img src="img/crew/matthiasFicht.jpg">
                <p class="bigger">Matthias Ficht</p>
                <p>Produkt- und Vertriebsmanagement,Sonder-<br>anfertigungen, Techn. Kaufm. Kundenservice In- und Ausland </p>
                <p>Telefon: +49-6201-84434-11</p>
                <p>ficht@fieger-lamellenfenster.de</p>
            </div>
            <div id="contact_box">
                <img src="img/crew/allenJohnson.jpg">
                <p class="bigger">Allen Johnson</p>
                <p>Techn.Kaufm. Kundenservice</p>
                <p>Telefon: +49-6201-84434-12</p>
                <p>johnson@fieger-lamellenfenster.de</p>
            </div>
            <div id="contact_box">
                <img src="img/crew/claudiaSchad.jpg">
                <p class="bigger">Claudia Schad</p>
                <p>Kundenservice und Versand</p>
                <p>Telefon: +49-6201-84434-15</p>
                <p>schad@fieger-lamellenfenster.de</p>
            </div>
            <div id="contact_box">
                <img src="img/crew/rolfBernt.jpg">
                <p class="bigger">Rolf Bernt</p>
                <p>Techn.Kaufm. Kundenservice</p>
                <p>Telefon: +49-6201-84434-13</p>
                <p>bernt@fieger-lamellenfenster.de</p>
            </div>
            <div id="contact_box">
                <img style="opacity:0.2" src="img/crew/rolfBernt.jpg">
                <p class="bigger">Thomas Pulter</p>
                <p>Leiter Serviceabteilung</p>
                <p>Telefon: +49-6201-84434-17</p>
                <p>pulter@fieger-lamellenfenster.de</p>
            </div>
            <div id="contact_box">
                <img style="opacity:0.2" src="img/crew/rolfBernt.jpg">
                <p class="bigger">Harald Schäfer</p>
                <p>Warenannahme und Lagerverwaltung</p>
                <p>Telefon: +49-6201-84434-16</p>
                <p>schaefer@fieger-lamellenfenster.de</p>
            </div>
        </div>
    </div>
</div>