<div class="row">
    <div role="content">
        <div class="large-12 columns">
            <div style="margin-top:30px;" class="large-12 small-12 columns">
                <div class="row news_section">
                    <div class="news_trigger" onclick="location='stories/apple'">
                        <div class="large-4 medium-6 small-12 columns">
                            <div class="inner_news">
                                <img src="img/news/small/news_Systems.jpg">
                                <p id="font_small2">Fieger Lamellenfenster</p>
                            </div>
                            <!-- <p class="hide-for-small" id="font_small">Die Fieger Lamellenfenster GmbH bietet Ihnen mit ihren hochwertigen Lamellenfenster- Systemen eine außergewöhnliche Alternative zu herkömmliche...<br></p> -->
                        </div>
                    </div>
                    <div class="news_trigger" onclick="location='stories/apple'">
                        <div class="large-4 medium-6 small-12 columns">
                            <div class="inner_news">
                                <img src="img/news/small/news_Bau2013.jpg">
                                <p id="font_small2">Bau 2013<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="news_trigger" onclick="location='stories/apple'">
                        <div class="large-4 medium-6 small-12 columns">
                            <div class="inner_news">
                                <img src="img/news/small/news_Farm.jpg">
                                <p id="font_small2">Straußenfarm</p>
                            </div>
                        </div>
                    </div>
                    <div class="news_trigger" onclick="location='stories/apple'">
                        <div class="large-4 medium-6 small-12 columns">
                            <div class="inner_news">
                                <img src="img/news/small/news_CivilJusticeCenter.jpg">
                                <p id="font_small2">Civil Justice Center<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="news_trigger" onclick="location='stories/apple'">
                        <div class="large-4 medium-6 small-12 columns">
                            <div class="inner_news">
                                <img src="img/news/small/news_ClassRoom.jpg">
                                <p id="font_small2">Dicke Luft im Klassenzimmer?</p>
                            </div>
                        </div>
                    </div>
                    <div class="news_trigger" onclick="location='stories/apple'">
                        <div class="large-4 medium-6 small-12 columns">
                            <div class="inner_news">
                                <img src="img/news/small/news_Library.jpg">
                                <p id="font_small2">24- Stunden Bibliothek</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="load_news">Lade mehr News</button>
    </div>
</div>
<!-- <div class="reader_bg"><div class="icon-close close_reader"></div></div>
<div class="reader">
    <div class="arrow_right"></div>
    <div class="arrow_left"></div>
    <h1>Fieger Lamellenfenster</h1>
    <h2>Vom Klassiker FLW 24 bis zum neuen Maßstab FLW40</h2>
    <div class="reader_slider">
        <img style="width:100%;" class="active"  src="img/news/large/1.jpg">
        <img style="width:100%;"  src="img/news/large/2.jpg">
        <img style="width:100%;"  src="img/news/large/3.jpg">
        <div class="indicator">
            <div class="active"></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <p>Die Fieger Lamellenfenster GmbH bietet Ihnen mit ihren hochwertigen Lamellenfenster- Systemen eine außergewöhnliche Alternative zu herkömmliche Lüftungsfenster.
    Unsere Systeme FLW, FGL und SmoTec sind als eigenständige Marken mittlerweile weit über die Grenzen Deutschlands hinaus erfolgreich am Markt.</p>
    <p>Unsere Stärken, neben dem optisch sehr ansprechenden Erscheinungsbild, kommen in besonderem Maße bei den Themen Lüftung, automatisierte Fenstersysteme und natürliche Rauch- Wärme- Abzugsgeräte (NRWG) zum Tragen.
    Haben wir Ihr Interesse geweckt? Dann setzen Sie sich doch einfach zu einem Beratungsgespräch mit uns in Verbindung oder senden Sie uns eine E-Mail mit Ihren Informationswünschen.
    Im Internet finden Sie unter www.fieger-lamellenfenster.de ausführliche Informationen zu unseren Produkten. Gerne laden wir Sie auch zu einem Gespräch auf unserem Messestand auf der BAU 2013 in München ein.
    Für anstehende oder bereits laufende Bauvorhaben stellen wir Ihnen auch gerne einen Planungsordner zur Verfügung. Ebenfalls stehen wir Ihnen gerne auch bereits bei der Planung bis hin zur Ausschreibung tatkräftig zur Seite.  </p>
    <p>Weitere Informationen wie z. B. Ausschreibungstexte finden Sie sowohl auf unserer Homepage als auch auf unserer Seite bei Heinze Bau Office.   </p>
</div> -->